@import '../../layouts/base';

.outer {
  width: 200px;
  background-color: #2b2c30;
}

.logoOuter {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding: 16px 0;
  background-color: theme-color('bhp-orange-1');
}

.selectedEntry {
  background-color: #393b42;
}

.link {
  position: relative;
  display: block;
  border-left: 5px solid transparent;
  padding: 16px 16px 16px 45px;
  font-size: 13px;
  color: #7c7c7c;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #9c9c9c;
    background-color: #565656;
    text-decoration: none;
  }

  .linkIcon {
    position: absolute;
    left: 15px;
    font-size: 18px;
  }

  .toggle {
    position: absolute;
    font-size: 18px;
    top: 15px;
    right: 5px;
  }
}

.activeLink {
  border-left: 5px solid theme-color('bhp-orange-1');
  color: white;

  &:hover {
    color: white;
  }
}
