.developerNoteContainer {
  display: flex;
  justify-content: space-evenly;
  width: 672px;
  height: 60px;
  padding: 20px;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #ffffff;
  background-color: #2da3d7;
  font-weight: lighter;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

input {
  width: 270px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  box-sizing: border-box;
}

label {
  margin-right: 8px;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.27;
  text-align: left;
  color: #333333;
}

.form {
  padding: 10px;
}

.formHorizontal {
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formHorizontal .formGroup {
  flex-direction: column;
  align-items: center;
}
