@import '../layouts/base';

.markdown {
  :global(.page-header) {
    margin-bottom: 30px;
  }

  :global(section) {
    padding: 40px 0;
    background-color: white;

    &:last-child {
      padding-bottom: 0;
    }
  }

  :global(.hero-primary) {
    padding: 0;
    text-align: center;
    color: white;
    background-image: url(./think-big.jpg);
    background-size: cover;

    h1 {
      margin: 0;
      line-height: 260px;
      font-size: 72px;
    }
  }

  :global(.hero-secondary) {
    padding: 60px 0;
    background-color: theme-color('bhp-orange-1');

    h2 {
      font-size: 36px;
      line-height: 1.1;
    }

    p {
      max-width: none;
      line-height: 1.27;
      font-size: 22px;
      color: white;
    }
  }

  :global(.hero-tertiary) {
    background-color: #f7f6f2;
  }

  :global(.hero-quaternary) {
    h5 {
      margin: 20px 0 3px 0;
      color: #9f9f9f;
    }

    p {
      margin-top: 4px;
    }
  }

  pre {
    border: 1px solid #c1c1c1;
    padding: 10px;
    background-color: #ecf0f1;
  }
}