.componentClass {
  margin-bottom: 10px;
}

.codeContainer {
  padding-top: 30px;
}

.codeContainerInstance {
  padding: 10px;
  font-family: Arial;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  color: #333;
}

.navigationTab {
  display: flex;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #333333;
  border-bottom: 1px solid #ecf0f1;
}

.navItem {
  width: 73px;
  margin: 0 3px;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.5;
  color: #333333;
}

.apiTable {
  font-size: 14px;
  width:100%
  
}

.apiTable tr th {
  border-bottom: solid 2px #333333;
}

.nameCoulmnData {
  font-weight: bolder;
}

.active {
  border-bottom: 2px solid #2da3d7;
}

.disable {
  display: none;
}

.inactiveNav {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
