.browserImg{
  width: 52px;
  height: 52px;
  margin-bottom: 0;
}

.BrowserContainer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

.BrowserSupportContainer {
  display: flex;
}

.stylingContainer {
  display: flex;
  margin-bottom: 30px;
}

.colouredTruckContainer {
  color: #f03a36;
  flex-grow: 1;
}

.blackAndWhiteTruckContainer {
  color: #01ab8b;
  flex-grow: 1;
}

.buttonIconPage {
  width: 200px;
  height: 36px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #e65400;
}

.textColouredTruck {
  width: 288px;
  height: 5px;
  background-color: #ff5640;
  margin-bottom: 21px;
}

.textBlackAndWhiteTruck {
  width: 288px;
  height: 5px;
  background-color: #01ab8b;
  margin-bottom: 21px;
}

.textStylingContainer {
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
}
