$header-outer: 60px;
$header-border: 1px;
$header-padding: 15px;
$sidebar-width:200px;
$theme-margin: 7px;
$theme-margin-bigger: 15px;

.container {
  .hideSideBar {
    left: -$sidebar-width;
    position: fixed;
    height: 100vh;
    z-index: 99;
  }
}

.mainBody {
  flex: 1;
  min-width: 300px;
  height: 100vh;
  overflow: hidden;

  .header {
    display: flex; 
    border-bottom: $header-border solid #dcdcdc;

    .expandBtn {
      padding: 18px 10px 18px 0;
      display: none;
      opacity: .6;

      &:hover {
        opacity: .9;
      }
    }

    .title {
      flex-grow: 1;
      text-align: left;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }

    h1 {
      display: inline-block;
      flex-grow: 1;
      margin: 0;
      padding: 15px 0;
      font-size: 24px;
      font-weight: normal;
    }

    .themeHelp,
    .titleLayout {
      display: -webkit-flex;
      /* Safari */
      -webkit-flex-direction: row;
      /* Safari 6.1+ */
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .titleLayout {
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  .headerLink {
    color: inherit;
    text-decoration: inherit;

    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }

  .gitHubLink,
  .themePicker {
    display: flex;
    label {
      padding: 20px 10px;
      margin: 0;
      text-align: center;

      &+div {
        padding: 13px 0;
      }
    }
  }

  .help {
    padding: 20px 0;
  }

  .bodyContainer {
    overflow: auto;
    height: calc(100vh - 60px);
    padding-bottom: 200px;
  }
}

:global(.dark-theme) {
  .mainBody {
    .header {
      border-bottom-color: #555;
    }
  }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .mainBody {
    .header {
      .leftSideBar {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (max-width: 768px) {
  .mainBody {
    .header {
      .expandBtn {
        display: inline-block;
      }

      .titleLayout {
        flex-direction: column;
        -webkit-flex-direction: column;
      }
      h1 {
        text-align: center;
      }
    }

    .gitHubLink,
    .themePicker {
      label {
        padding: $theme-margin-bigger 10px;
        &+div {
          padding: $theme-margin-bigger/3;
        }
      }
    }

    .help {
      padding: $theme-margin-bigger 0;
    }
    .bodyContainer {
      height: calc(100vh - 94px);
    }
  }
}
