.pageHeader {
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}

kbd {
  margin: 0 10px 10px 0;
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  display: block;
}


