.linkInner {
  display: flex;
  justify-content: space-around;
  height: 52px;
  padding-left: 19px;
  padding-right: 10px;
  color: #fff;
  align-items: center;
  font-size: 14px;
  opacity: 0.4;
}

.sideBar {
  position: relative;
  width: 52px;
  min-height: 100%;
  color: $white;
  background-color: #252525;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.materialDesignIcon {
  margin-right: 13px;
}

a {
  text-decoration: none;
}

.linkClass {
  text-decoration: none;
  display: inline-block;
}

.linkText {
  flex-grow: 2;
}

.closeIcon {
  margin-right: 12px;
  margin-bottom: 60px;
  text-align: right;
  opacity: 0.4;
}

.sidebarArrow {
  display: inline-block;
  margin-top: 17px;
  float: right;
  opacity: 0.4;
  cursor: pointer;
}

.naviconIcon {
  margin-bottom: 60px;
  text-align: center;
}

.sideMenuLogoContainer{
  display: flex;
  height: 60px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #e65400;
}

.sideMenuLogoContainer img{
  margin: 0;
}

.fullSideBar {
  min-width: 200px !important;
}

.disable {
  display: none;
  -webkit-transition: display .3s;
  transition: display .3s;
}

.subMenu {
  padding-left: 20px;
}

.activeLink {
  color: #fff;
}

.linkContainer {
  margin-right: 10px;
  align-items: baseline;
}
