.templateWrapper {
  display: flex;
  width: 100%;
}

.innerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 7%;
}

.sideBar {
  position: relative;
  height: 350px;
  min-width: 50px;
  left: 0;
  top: 0;
  color: $white;
  background-color: $side-Menu-background-color;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.children {
  flex: 1;
}

.routesLinks {
  display: flex;
}

.routesLinks > a {
  color: #979797;
}

.routeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 13px 20px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 11px;
  font-family: arial;
  font-weight: bold;
  color: #979797;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  width: 270px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  outline: none;
}

.searchInput {
  border: none;
}
